@using TripBuddy.Areas.Identity.Data
@model IEnumerable<Car>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

@if (Model.Any())
{
    <h2>Update Car</h2>

    <form method="post" action="/Car/UpdateCar">
        <div class="form-group">
            <label>Select Car:</label>
            <select name="CarsID" class="form-control" onchange="populateFields(this.value)">
                @foreach (var car in Model)
                {
                    <option value="@car.CarsID">@car.Manufacturer - @car.Model</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label>Manufacturer:</label>
            <input name="Manufacturer" class="form-control" />
        </div>

        <div class="form-group">
            <label>Model:</label>
            <input name="Model" class="form-control" />
        </div>

        <div class="form-group">
            <label>Year Of Production</label>
            <input name="YearOfProduction" class="form-control" />
        </div>

        <div class="form-group">
            <label>Fuel Consumption</label>
            <input name="FuelConsumption" class="form-control" />
        </div>
        <div class="form-group">
            <label for="FuelType">Fuel Type</label>
            <select name="FuelType" class="form-control">
                <option value="Gasoline">Gasoline</option>
                <option value="Diesel">Diesel</option>
                <option value="LPG">LPG</option>
            </select>
        </div>
        <div class="form-group">
            <label>Fuel Tank Capacity</label>
            <input name="FuelTankCapacity" class="form-control" />
        </div>
        <div class="form-group">
            <label>HorsePower</label>
            <input name="HorsePower" class="form-control" />
        </div>


        <!-- Other fields... -->

        <button type="submit" class="btn btn-primary">Update Car</button>
    </form>


}
else
{
    <h1 style="text-align:center">There are no cars</h1>
    <img src="https://i.ytimg.com/vi/nVJ6KcFYGyo/maxresdefault.jpg" />
}

